.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  padding-bottom: 40px;
}

@media screen and (max-width: 680px) {
  .header {
    display: flex;
    padding-bottom: 32px;
    padding-top: 28px;
    margin-top: 0;
  }
  .header__image {
    margin-left: 27px;
    height: 24px;
    width: 126px;
  }
}
