.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  padding-bottom: 40px;

  @media screen and (max-width: 620px) {
    .header {
      margin-top: 28px;
      height: 24px;
      padding-bottom: 32px;
    }
  }
}
