.modal {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: visability 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: white;
  margin: auto;
  color: black;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  margin-top: 195px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 430px;
  height: 330px;
}

.modal__container_type_preview {
  background: transparent;
  margin-top: 90px;
}

.modal__description {
  color: white;
}

.modal__image {
  height: 540px;
  width: 433px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
}

.modal__form-fields {
  width: min-content;
  height: 45px;
  margin-bottom: 30px;
  position: relative;
}

.modal__input {
  width: 358px;
  height: 27px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 18px;
}

.modal__close {
  background-image: url("../images/Close.svg");
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.modal__close_preview {
  top: -10px;
  right: -85px;
}

.modal__heading {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 24px;
}

.modal__button {
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;

  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 21.78px;
  padding: 0;
}

.modal__button_disabled {
  opacity: 20%;
}

.modal__button:hover {
  cursor: pointer;
}

.modal__input_type_error {
  border-bottom-color: red;
  margin-bottom: 5px;
}

.modal__error_visible {
  display: block;
  color: #ff0000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.5px;
  position: absolute;
}

.modal__error_visible:disabled {
  display: block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

@media screen and (max-width: 620px) and (min-width: 320px) {
  .modal__close {
    width: 26px;
    height: 26px;
    right: 0;
    top: -40px;
    position: absolute;
  }

  .modal__container {
    width: 100%;
    padding: 25px 22px 25px 22px;
    margin-top: 123px;
    position: relative;
  }

  .modal__input {
    max-width: 252px;
  }

  .modal__button {
    width: 100%;
    font-size: 14px;
    line-height: 16.94px;
  }

  .modal__heading {
    margin-top: 0;
    margin-bottom: 75px;
    font-size: 18px;
  }

  .modal__container_type_preview .modal__close {
    right: -5px;
    top: 15px;
  }

  .modal__container_type_preview .modal__image {
    width: 100%;
    height: 282px;
    padding: 25px 0;
  }

  .modal__form-fields {
    margin-bottom: 18px;
  }
}
